[workspace]
members = [
    "cmd/keel-init",
    "pkg/api",
    "cmd/keel-agent",
    "cmd/osctl",
    "pkg/crypto",
    "pkg/config",
    # "pkg/init",        # Future
    # "pkg/init",        # Future
]
resolver = "2"

[profile.release]
lto = true
codegen-units = 1
strip = true
panic = "abort" # Critical for PID 1 robustness and size
